/* work sans font from google */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700;800&display=swap');

/* shared style */
* {
    font-family: 'Work Sans', sans-serif;
}

.btn-primary {
    border-radius: 8px;
    background-color: #FF900E;
    color: #FFF;
    font-weight: 600;
    font-size: 20px;
    padding: 21px 24px 20px 25px;
    border: 0;
    cursor: pointer;
}

.section-title {
    font-weight: 700;
    font-size: 2.8rem;
    color: #131313;
}

.text-light-grey {
    color: #727272;
}

/* header styles */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* banner styles */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner img {
    width: 100%;
    margin-top: 20px;
}

/* main section styles */
main {
    max-width: 1440px;
    padding: 70px auto;

}

/* teams styles */
.teams-container {
    display: flex;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
}

.teams-content {
    padding-left: 70px;
    padding-right: 70px;
}

.teams-title {
    font-size: 2.8rem;
    font-weight: 500;
}

.text-features {
    color: #FF900E;
    font-weight: 700;
}

.of-our {
    color: #131313;
    font-weight: 700;
}

.teams-description {
    color: #727272;
    font-weight: 400;
    padding-bottom: 32px;
}

/* features section styles */

.features {
    display: flex;
    margin-top: 130px;
    gap: 100px;
}

.features-card-title {
    font-size: 20px;
    font-weight: 600;
}

.features .section-title {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.ten-years-badgs {
    width: 342px;
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    padding: 40px;
}
.ten-years-badgs h2{
    font-size: 4rem;
    font-weight: 700;
}

.features-content .card {
    padding: 30px;
    border: none;
    margin-bottom: 20px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

/* facts section */
.facts-cards-container {
    display: flex;
    justify-content: space-around;
}

.facts-card-container,
.card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
}

.facts-cards-container .card-stats {
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}

.facts-cards-container .card-title {
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 5px;
}

/* sponsors section */
.sponsors {
    text-align: center;
}

.sponsors-img-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
}

.sponsors-img-container img {
    width: 165px;
}


/* responsive media quaery */
/* mobile devices */
@media screen and (max-width: 576px) {

    header {
        padding: 20px;
    }

    nav,
    .teams-container,
    .facts-cards-container,
    .sponsors-img-container {
        flex-direction: column;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
    }

    .teams-content,
    .facts-cards-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .facts-cards-container {
        gap: 20px;
    }
}


/* tablet or medium devices */
@media screen and (min-width: 576px) and(max-width: 960px) {

    nav,
    .teams-container,
    .sponsors-img-container {
        flex-direction: column;
    }

    header {
        padding: 50px;
    }
}